<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>绑定</title>
</head>
<body>
    <h2>绑定</h2>
    <form action="//localhost:8090/api/v0/minecraft/bind" method="post">
        <input type="text" name="account" placeholder="account">
        <input type="minecraft_account" name="minecraft_account" placeholder="minecraft_account">
        <input type="code" name="code" placeholder="code">
        <input type="hidden" value="something else">
        <input type="submit" value="绑定">
    </form>
</body>
</html>